@model Models.Course

@{
    bool creating = ViewBag.Creating ?? false;
    string action = creating ? "Create" : "Edit";
}

@using (Html.BeginForm(action, "Courses", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)

    <details id="course_form_details_information" open>
        <summary>Informations</summary>

        <fieldset>
            <legend>Cours</legend>

            <label>Session</label>
            @Html.TextBoxFor(model => model.Session, new { @class = "form-control", type = "number", min = "1", max = "6", required = "required" })

            <label>Sigle</label>
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", required = "required" })

            <label>Titre</label>
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", required = "required" })
        </fieldset>
    </details>

    if (!creating)
    {
        <details id="course_form_details_teacher" open>
            <summary>Enseignant - @Models.NextSession.ShortCaption</summary>

            <fieldset>
                <legend>Allocation</legend>

                <label>Enseignant assigné</label>

                <select name="teacherId" class="form-control">
                    <option value="0">Aucun enseignant</option>

                    @foreach (SelectListItem teacher in (SelectList)ViewBag.Teachers)
                    {
                        if (teacher.Selected)
                        {
                            <option value="@teacher.Value" selected>@teacher.Text</option>
                        }
                        else
                        {
                            <option value="@teacher.Value">@teacher.Text</option>
                        }
                    }
                </select>
            </fieldset>
        </details>

        <details id="course_form_details_registrations" open>
            <summary>Inscriptions - @Models.NextSession.ShortCaption</summary>

            <fieldset>
                <legend>Étudiants inscrits</legend>

                @Helper.SelectionLists(
                    "selectedStudentsId",
                    (System.Web.Mvc.SelectList)ViewBag.Registrations,
                    (System.Web.Mvc.SelectList)ViewBag.Students
                )
            </fieldset>
        </details>
    }

    <div class="formCommands">
        <button type="submit" class="roundIconButton" title="Enregistrer">
            <span class="fa fa-check-circle"></span>
        </button>

        @if (creating)
        {
            <a href="@Url.Action("Index", "Courses")" title="Annuler">
                <span class="icon fa fa-times-circle"></span>
            </a>
        }
        else
        {
            <a href="@Url.Action("Details", "Courses", new { id = Model.Id })" title="Annuler">
                <span class="icon fa fa-times-circle"></span>
            </a>
        }
    </div>
}