@using Models
@model Models.Course

@{
    ViewBag.Title = "Cours - Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Access access = Models.User.ConnectedUser != null ? Models.User.ConnectedUser.Access : Access.Anonymous;
    bool canWrite = access == Access.Write || access == Access.Admin;
}

<div class="pageHeader">
    <div class="pageTitle">
        <a href="@Url.Action("Index", "Students")" title="Accueil">
            <span class="mainRedIcon fa fa-user"></span>
        </a>
        <span>Cours - Détails</span>
    </div>

    <div class="pageCommands">
        @if (canWrite)
        {
            <a href="@Url.Action("Edit", "Courses", new { id = Model.Id })" title="Modifier">
                <span class="icon fa fa-edit"></span>
            </a>

            <a href="@Url.Action("Delete", "Courses", new { id = Model.Id })"
               onclick="return confirm('Voulez-vous vraiment supprimer ce cours, ses inscriptions et ses allocations?');"
               title="Supprimer">
                <span class="icon fa fa-trash"></span>
            </a>
        }

        <a href="@Url.Action("Index", "Courses")" title="Retour">
            <span class="icon fa fa-times-square"></span>
        </a>
    </div>
</div>

<div id="courseDetailsPanel"></div>

@section Scripts {
    <script>
        let courseDetailsPanel = new AutoRefreshedPanel(
            "courseDetailsPanel",
            "@Url.Action("GetCourseDetails", "Courses")",
            5
        );
    </script>
}
