@using Models
@model Models.Teacher

@{
    ViewBag.Title = "Prof - Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Access access = Models.User.ConnectedUser != null ? Models.User.ConnectedUser.Access : Access.Anonymous;
    bool canWrite = access == Access.Write || access == Access.Admin;
}

<div class="pageHeader">
    <div class="pageTitle">
        <a href="@Url.Action("Index", "Students")" title="Accueil">
            <span class="mainRedIcon fa fa-user"></span>
        </a>
        <span>Prof - Détails</span>
    </div>

    <div class="pageCommands">
        @if (canWrite)
        {
            <a href="@Url.Action("Edit", "Teachers", new { id = Model.Id })" title="Modifier">
                <span class="icon fa fa-edit"></span>
            </a>

            <a href="@Url.Action("Delete", "Teachers", new { id = Model.Id })"
               onclick="return confirm('Voulez-vous vraiment supprimer ce professeur et toutes ses allocations?');"
               title="Supprimer">
                <span class="icon fa fa-trash"></span>
            </a>
        }

        <a href="@Url.Action("Index", "Teachers")" title="Retour">
            <span class="icon fa fa-times-square"></span>
        </a>
    </div>
</div>

<div id="teacherDetailsPanel"></div>

@section Scripts {
    <script>
        let teacherDetailsPanel = new AutoRefreshedPanel(
            "teacherDetailsPanel",
            "@Url.Action("GetTeacherDetails", "Teachers")",
            5
        );
    </script>
}
